.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 3rem;
    gap: 7rem;
}

.serverIcon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 30px;
    font-weight: 600;
    border: 1px solid rgb(93, 93, 93);
    background: #161616;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invite_prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.topLink {
    border: 1px solid gray;
    border-radius: 10px;
    height: 2rem;
    width: fit-content;
    padding: 0 1.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.joinButton {
    width: 18rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid rgb(48, 48, 48);
    background: rgb(0, 85, 255);
    font-weight: 650;
    font-size: 18px;
}